body {
    background-image: url('./images/gym_pic.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: darken;
}

#logOutButton {
    background-color: red;
    color: white;
    transition: 0.5s;
    font-size: 1.2vw;
    padding: 10px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: -10%;
    display: grid;
    place-items: center;
}

#logOutButton:hover {
    background-color: rgba(200, 247, 197, 1);
    color: black;
}

#navbarBrand {
    margin-left: 10%;
    line-height: 1.3;
}

#navbarBrand > #navbarBrand-name > * {
    font-size: 1.4vw;
}

#navbarBrand > #navbarBrand-email > * {
    font-size: 1vw;
}

#basic-navbar-nav {
    margin-right: 10%;
}

#basic-navbar-nav > .d-flex > * {
    font-size: 1.2vw;
}

.measurementsWrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
}

.measurementDataWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    border: 2px solid white;
    margin: 15px;
    max-width: 400px;
    background-color: rgba(255, 0, 0, 0.15);
    border-radius: 10%;
    transition: 1s;
}

h4 {
    text-align: center;
    padding: 0.2vw;
}

.measurementsButtonsWrapper > * {
    width: 50%;
}

.searchInputGroup {
    width: 80%;
    margin: auto;
}

.searchInputGroup:last-child {
    width: 90%;
}

@media (max-width: 1000px) {
    #navbarBrand {
        margin: 0;
    }
    #navbarBrand {
        line-height: 1.3;
    }
    #navbarBrand > #navbarBrand-name > * {
        font-size: 5vw;
    }
    #navbarBrand > #navbarBrand-email > * {
        font-size: 3.5vw;
    }
    #basic-navbar-nav {
        margin: 0;
    }
    #basic-navbar-nav > .d-flex > * {
        font-size: 2.4vw;
    }
    #logOutButton {
        width: 50%;
        margin-left: auto;
        margin-right: 0;
    }
    #logOutButton > #test {
        margin: 0;
        font-size: 3vw;
    }
    #basic-navbar-nav > .d-flex > #addMeasurementsButton {
        width: 50%;
        padding: 10px;
        font-size: 3vw;
    }
    #basic-navbar-nav > .d-flex > #editPersInfoButton {
        width: 50%;
        margin: auto;
        font-size: 3vw;
    }
    .measurementsWrapper {
        display: inline-block;
        width: 100%;
    }
    .searchInputGroup:last-child {
        width: 100%;
    }
}
