/* body {
    background-image: url('./images/gym_pic.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: darken;
} */

*, body {
    box-sizing: border-box;
}

.measurementsWrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
}

.measurementDataWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    border: 2px solid white;
    margin: 15px;
    max-width: 400px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10%;
    transition: 1s;
}

h4 {
    text-align: center;
    padding: 0.2vw;
}

.measurementsButtonsWrapper > * {
    width: 50%;
}

.searchInputGroup {
    width: 80%;
    margin: auto;
}

.searchInputGroup:last-child {
    width: 90%;
}

@media (max-width: 1000px) {
    
    .basic-navbar-nav > .d-flex > #addMeasurementsButton {
        width: 50%;
        padding: 10px;
        font-size: 3vw;
    }
    .basic-navbar-nav > .d-flex > #editPersInfoButton {
        width: 50%;
        margin: auto;
        font-size: 3vw;
    }
    .measurementsWrapper {
        display: inline-block;
        width: 100%;
    }
    .searchInputGroup:last-child {
        width: 100%;
    }
}
